
@{
    ViewBag.Title = "AdminChangePassword";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@if (TempData["Message"] != null)
{
    <p style="color: green">@TempData["Message"]</p>
}

<h2>Change Password</h2>

<form method="post" action="/User/AdminChangePassword">
    <table border="1" cellpadding="5" cellspacing="0">
        <tr>
            <td><label for="oldPassword">Old Password:</label></td>
            <td><input type="password" id="oldPassword" name="oldPassword" required /></td>
        </tr>
        <tr>
            <td><label for="newPassword">New Password:</label></td>
            <td><input type="password" id="newPassword" name="newPassword" required /></td>
        </tr>
    </table>

    <br />
    <button type="submit" class="btn-danger">Change Password</button>
</form>

<br />

<!-- Link to go back to profile page -->
<form method="get" controller="User" action="AdminProfile" style="display:inline;">
    <button type="submit" class="btn-primary">Go back to profile</button>
</form>




